:root {
  --background-color: #0e0d0d;
  --text-color: #fefefe;
  --text-color-dimmed: #dadada;
  --light-mode-border: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button, select, textarea, optgroup, option {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #__next {
  background: var(--background-color);
}

html,
body,
#root,
#__next {
  height: 100%;
  width: 100%;
  min-width: 390px;
  font-size: 13px;
}

#__next {
  display: flex;
  flex-direction: column;
}

*:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0 !important
}