.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 60px 0;
  height: 100%;
  color: var(--text-color);
}

.title {
  background: #6D27E0;
  width: max-content;
  padding: 5px 80px 5px 22px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.algebraic {
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.algebraic article nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.algebraic article nav a {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: var(--text-color-dimmed);
}

.algebraic article img {
  border-radius: 12px;
}

.algebraic article {
  display: flex;
  gap: 30px;
}

.algebraic article main {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-dimmed);
}

.main footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main footer ul a {
  color: var(--text-color-dimmed);
}